{
  "rules": {
  },
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "defaultParams": true
    }
  },
  "extends": [
    "standard"
  ]
}
